
@{
    ViewData["Title"] = "Green Recycling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="inner_banner" style="position: relative;">
    <div class="overlay_inn">
        <div class="container"><h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h3></div>
    </div>
    <img src="~/images/Slider-01.jpg" alt="Slider" class="img-fluid" />
</section>

<div class="bg-dark ">
    <div class="container">
        <div class="row">

            <nav class=" ">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                    <li class="breadcrumb-item"><a href="~/Recycling/">Recycling</a></li>
                    <li class="breadcrumb-item active">Green Recycling</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<section class="container mt-3">
    <div class="row">
        <div class="col-md-9">
            <h2> Green Recycling </h2>
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus euismod venenatis nulla, id iaculis eros volutpat malesuada. Sed rhoncus mi vel nibh elementum porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam feugiat vel est quis tincidunt. Integer ut urna vel eros tempus pulvinar. Phasellus sit amet cursus ligula. Duis luctus risus in odio hendrerit feugiat. Suspendisse porta justo auctor, molestie lorem eu, aliquam orci. Praesent tempus tellus vitae erat facilisis aliquet. Aliquam ut nibh tincidunt, imperdiet lacus mattis, venenatis ligula. Proin a molestie nisl. Aenean vel scelerisque magna, ut finibus augue.
            </p>
            <p class="text-justify">
                Aenean lorem augue, luctus nec vulputate id, lacinia nec velit. Donec molestie, erat in semper vehicula, massa nibh ornare turpis, id convallis lacus risus ac mauris. Donec est nunc, imperdiet vitae laoreet at, finibus in magna. Morbi vehicula sagittis ligula, at vulputate ex sollicitudin eget. Aenean posuere faucibus viverra. Aliquam quis placerat leo. Suspendisse facilisis accumsan dolor vitae varius. Phasellus ornare velit neque, vel bibendum dui maximus non. Phasellus mattis accumsan augue quis dapibus. Nulla rutrum lacus ac tortor feugiat malesuada. Mauris in feugiat tellus. Suspendisse potenti. Sed vel venenatis purus. Nam ac gravida elit. Ut ut tincidunt quam. Nulla faucibus purus sed massa laoreet malesuada.
            </p>
            <p class="text-justify">
                Maecenas suscipit vehicula tristique. Nulla ante enim, feugiat et urna nec, faucibus viverra nisl. Fusce molestie velit nulla, at fringilla sapien ullamcorper ut. Phasellus semper dignissim dictum. Nulla lorem eros, ullamcorper eu ex posuere, fringilla pharetra ipsum. Donec pulvinar magna purus, eu aliquet enim tincidunt et. Maecenas et finibus dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Etiam elementum turpis massa, vel fermentum ipsum rhoncus ut. Curabitur venenatis justo in arcu porta cursus.
            </p>
        </div>
        <div class="col-md-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="list-group margin_top ">
                <a href="~/Recycling/Complex-Jobs-Undertaken/" class="list-group-item bg-light right_paneldhy mb-2"> Complex Jobs Undertaken</a>
                <a href="~/Recycling/One-Stop-Shop/" class="list-group-item bg-light right_paneldhy mb-2"> One Stop Shop</a>
                <a href="~/Recycling/Get-A-Quote/" class="list-group-item bg-light right_paneldhy mb-2"> Get a Quote</a>
                <a href="~/Recycling/Location-We-Recycle/" class="list-group-item bg-light right_paneldhy mb-2"> Location's We Recycle</a>
                <a href="~/Recycling/Green-Recycling/" class="list-group-item bg-light right_paneldhy mb-2"> Green Recycling</a>
            </div>
        </div>
    </div>
</section>



