@model IEnumerable<StarMatrix.Models.Admin>

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-star-empty"></i> Change Password</h2>
            </div>
            <div class="box-content">
                @using (Html.BeginForm("Changepassword", "Admin", FormMethod.Post))
                {
                    
                <div class="form-horizontal" style="padding-left:20px;">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div >
                            <input type="text" id="Username" name="Username" placeholder="Username" class="custom_css" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div >
                            <input type="password" id="Password" name="Password" class="custom_css" placeholder="Old Password">
                        </div>
                    </div>

                    <div class="form-group">
                        <div >
                            <input type="password" id="NewPassword" name="NewPassword" class="custom_css" placeholder="New Password">
                        </div>
                    </div>


                    <div class="form-group">
                        <div >
                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="custom_css" placeholder="Confirm Password">
                        </div>
                    </div>


                    <div class="form-group">
                        <div >
                            <button type="submit" class="btn btn-primary">Change Password</button>
                        </div>
                    </div>


                    <div class="form-group">
                        <div>
                            <span style="padding-top:10px;" class="text-danger">@Html.Raw(ViewBag.Status)</span>
                        </div>
                        <div>
                            <span style="padding-top:10px;" class="text-success">@Html.Raw(ViewBag.Message)</span>
                        </div>
                    </div>                  

                </div>
}
            </div>
            </div>
        </div>
    </div>


