
<section class="inner_banner" style="position: relative;">

    <div class="overlay_inn">
        <div class="container"><h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h3></div>
    </div>
    <img src="~/images/Slider-01.jpg" alt="Slider" class="img-fluid" />

</section>

<div class="bg-dark ">
    <div class="container">
        <div class="row">

            <nav class=" ">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Location</li>
                </ol>
            </nav>



        </div>
    </div>
</div>

<div class="clearfix"></div>



<section class="container mt-3">
    <div class="row">

        <div class="col-md-9">
            <h2> Location Map </h2>

            <p>A live map of your area for your web site</p>
            <div>
                <script type="text/javascript">
                    width = '100%';
                    height = '550';
                    border = '0';
                    shownames = 'false';
                    latitude = '37.4460';
                    longitude = '24.9467';
                    zoom = '9';
                    maptype = '1';
                    trackvessel = '0';
                    fleet = 'star matrix'; // the registered email address of a user-defined fleet (user's default fleet is used)
                </script>
                <script type="text/javascript" src="//www.marinetraffic.com/js/embed.js"></script>
            </div>
        </div>

        <div class="col-md-3 wow fadeInUp" data-wow-delay="0.3s">

            <div class="list-group margin_top ">
                <a asp-controller="Home" asp-action="Location" class="list-group-item bg-light right_paneldhy mb-2"> Location</a>
                <a asp-controller="Home" asp-action="LocationMap" class="list-group-item bg-light right_paneldhy mb-2"> Location Map</a>
            </div>
        </div>







    </div>


</section>




