
@{
    ViewData["Title"] = "Sitemap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class=" inner_banner" style="position: relative;">

    <div class="overlay_inn">
        <div class="container"><h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h3></div>
    </div>
    <img src="~/images/Slider-01.jpg" alt="Slider" class="img-fluid" />

</section>





<div class="bg-dark ">
    <div class="container">
        <div class="row">

            <nav class=" ">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Sitemap</li>
                </ol>
            </nav>



        </div>
    </div>
</div>

<div class="clearfix"></div>



<section class="container mt-3">

    <div class="row">
        <div class="col-md-12">
            <h3> Sitemap </h3>


        </div>



        <div class="col-md-7 wow fadeInUp" data-wow-delay="0.1s">
            <div class="sitemap">
                <h3>About</h3>
                <ul class="subsitemap">
                    <li><a class="" href="~/About">About Star Matrix</a> </li>
                    <li><a class="" href="~/About/Demolition-Recycling">Demolition / Recycling</a></li>
                    <li><a class="" href="~/About/Towage">Towage</a></li>
                </ul>
                <hr>

                <h3>Recycling</h3>
                <ul class="subsitemap">
                    <li><a class="" href="~/Recycling"> Complex Jobs Undetaken</a> </li>
                    <li><a class="" href="~/Recycling/One-Stop-Shop">One Stop Shop</a></li>
                    <li><a class="" href="~/Recycling/Get-a-Quote">Get a Quote</a></li>
                    <li><a class="" href="~/Recycling/Location-We-Recycle">Location's We Recycle</a></li>
                    <li><a class="" href="~/Recycling/Green-Recycling">Green Recycling</a></li>

                </ul>
                <hr>


                <h3>Towage</h3>
                <ul class="subsitemap">
                    <li><a class="" href="~/Towage">Present Fleet</a> </li>
                    <li><a class="" href="~/Towage/Live-Location">Live Location </a></li>
                    <li><a class="" href="~/Towage/Availability">Availability</a></li>
                    <li><a class="" href="~/Towage/Get-a-Quote">Get a Quote</a></li>
                    <li><a class="" href="~/Towage/Jobs-Undertaken">Jobs Undertaken</a></li>

                </ul>
                <hr>

                <h3><a class="" href="~/Location">Location</a></h3> <hr>
                <h3><a class="" href="~/Contact">Contact</a></h3>
                <br>


            </div>


        </div>


        <div class="col-md-5 wow fadeInUp" data-wow-delay="0.1s">
            <img class="img-fluid" src="~/images/sitemap.jpg" alt="" />
        </div>
    </div>










    </div>


</section>